!!! 5
%html
  %head
    = render 'head'
  %body{:class => body_class}
    .navbar.navbar-inverse.navbar-fixed-top{:'data-dropdown'=>"dropdown"}
      .navbar-inner
        .container-fluid
          %a{:class=>"btn btn-navbar", :data => { :toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar        
            %span.icon-bar
          = render 'brand'
          .nav-collapse.collapse
            %ul.nav
              = render 'top_menu'
            %ul.nav.pull-right
              = render 'secondary_menu'
    
    #main.container-fluid
      - if sidenav?
        #sidenav
          = sidenav
      .page-header
        = render 'page_header'
      .row-fluid
        %span{:class => "span#{content_cols}"}
          = render 'sub_menu'
          = render 'flashes'
          = yield
        - if sidebar?
          .span2.sidebar
            = sidebar
            
