!!! 5
%html
  %head
    = render 'head'
  %body{:class => body_class}
    .navbar.navbar-inverse.navbar-fixed-top{:'data-dropdown'=>"dropdown"}
      .navbar-header
        %button.navbar-toggle{:data => { :toggle => "collapse", :target => ".nav-collapse"}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar        
          %span.icon-bar
        = render 'brand'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          = render 'top_menu'
        %ul.nav.navbar-nav.navbar-right
          = render 'secondary_menu'
    
    #main.container
      - if sidenav?
        #sidenav
          = sidenav
      .page-header
        = render 'page_header'
      = render 'sub_menu'
      = render 'flashes'
      = yield
      
      - if sidebar?
        #sidebar
          = sidebar
            
