!!! 5
%html
  %head
    %title= Settings.app_name
    %meta{:charset=>"UTF-8"}
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :head

  %body#devise
    .container
      .box
        = render 'flashes'
        = yield
      .links
        = render :partial => "app_frame/devise/shared/links"        