=page_header "Sign in"

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
  = f.input :email, :required => false, :autofocus => true 
  = f.input :password, :required => false 
  
  - if devise_mapping.rememberable? 
    = f.label :remember_me, :class => 'checkbox' do
      = f.check_box :remember_me
      Remember me

  = f.button :submit, "Sign in", :class => 'btn'