=page_header resource.to_s
= view_for resource_path_array do |s|
  = render 'show', :s => s

- child_resources.each do |data|
  %h2= data[:name]
  .btn-toolbar
    = link_to("New #{data[:resource_name]}", polymorphic_url((controller_namespaces + [resource, data[:resource_class]]), :action => :new), :class => 'btn')
  = table_for(controller_namespaces + [resource, data[:resource_class]], resource.send(data[:symbol]), :class => 'table') do |t|
    = render (controller_namespaces + [data[:symbol].to_s, 'table']).join('/'), :t => t, :resource_class => data[:resource_class]
