%h1 Showing #{resource_name}

= show_for resource do |s|
  - editable_attributes_for(resource_class).each do |name|
    = s.attribute name
    
=link_to "Edit #{resource_name}", edit_resource_url
=link_to "List #{resource_name.pluralize}", collection_url