= page_header resource_name.pluralize
= render 'toolbar'
- if collection
  = scope_nav
  = table_for(controller_namespaces + [resource_class], collection) do |t|
    = render 'table', :t => t
  = page_range
  = paginate collection, :theme => 'app_frame'
