%title= Settings.app_name
%meta{:charset=>"UTF-8"}
= csrf_meta_tag
= stylesheet_link_tag File.join(controller_namespaces, 'application')
= javascript_include_tag File.join(controller_namespaces, 'application')
= yield :head